@model IndexVM[]

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.0.min.js"></script>
    <title>Bullify</title>
</head>

<body>
    <div class="divTable greyGridTable">
        <div id="rubrik">
            <h1>Bullisharp</h1>
        </div>
    </div>
    <div class="divTableBody">
        <div class="divTableRow">
            <div class="divTableCell">

                <ul>
                    @foreach (var consultant in Model)
                    {
                        <li onclick="functionname(@consultant.Id)">
                            @*<a asp-controller="Home" asp-action="InfoBox" asp-route-id="@consultant.Id">*@@consultant.FirstName @consultant.LastName
                        </li>
                    }
                </ul>


    @*<input asp-controller="Home" asp-action="Edit" asp-route-id="@Model.Id">"Update Consultant" />*@

    @*<input type="submit" value="Update Existing Profile" />*@

    <script>



        function functionname(consultantId) {


            $.ajax({
                url: "/home/InfoBox/" + consultantId,
                type: "GET",
                data: null,
                success: function (result) {
                    $("#consultantDiv").html(result);

                }
            });
            </div>
            <div class="divTableCell">
                <div id="consultantDiv">
                    <script>
                        function functionname(consultantId) {
                            $.ajax({
                                url: "/home/InfoBox/" + consultantId,
                                type: "GET",
                                data: null,
                                success: function (result) {
                                    $("#consultantDiv").html(result);
                                }
                            });
                        };
                    </script>
                </div>
            </div>

        </div>
    </div>

    </div>
    <div class="footerDiv">
        <img src="https://uploads-ssl.webflow.com/5840159b0faf16be51d26d72/5a94494504115100018cfd2e_academy_logo_w_tag_RGB.svg" />
    </div>
</body>
</html>