<!DOCTYPE html>
<html>
<head>
    <link href="~/Scripts/StyleSheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    <title>Bullify</title>
</head>
<body>
    <h3>Bullisharp</h3>
    test
    test
</body>
</html>