body {
    background-color:#000;
}
#rubrik{
    color: white;
    width:100%;
}

#centerDiv{
    align-content:center;
}

#consultantDiv{
    float:left;
    color:white;
    font-size:32px;
    font-weight:bold;
}

menuDiv{
    float:left;
    min-width:15%;
}

#infoBoxpic {
    float:left;
  
}
#imgDiv{
    border:solid;
    color: red;
}
li {
    color: white;
    list-style-type: none;
    font-size:32px;
    color:red;
}

#logoDiv{
    margin:auto;
    align-content:center;
    background-color:white;
}
h3{
    text-align:center;
        color:red;
        font-size:32px;
}

#infoBox1{
    float:left;
    display:block;
    background:#000;
    padding-left:230px;
}
div.greyGridTable {
    border: 2px solid #FFFFFF;
    width: 100%;
    height: 100%;
    text-align: center;
    border-collapse: collapse;
}

.divTable.greyGridTable .divTableCell, .divTable.greyGridTable .divTableHead {
    border: 1px solid #FFFFFF;
    padding: 3px 4px;
}

.divTable.greyGridTable .divTableBody .divTableCell {
    font-size: 13px;
}

.divTable.greyGridTable .divTableRow:nth-child(even) {
    background: #D0E4F5;
}

.divTable.greyGridTable .divTableCell:nth-child(even) {
    background: #EBEBEB;
}

.divTable.greyGridTable .divTableHeading {
    background: #FFFFFF;
    border-bottom: 4px solid #333333;
}

    .divTable.greyGridTable .divTableHeading .divTableHead {
        font-size: 15px;
        font-weight: bold;
        text-align: center;
    }

.greyGridTable .tableFootStyle {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
}

.greyGridTable .tableFootStyle {
    font-size: 14px;
}
/* DivTable.com */
.divTable {
    display: table;
}

.divTableRow {
    display: table-row;
}

.divTableHeading {
    display: table-header-group;
}

.divTableCell, .divTableHead {
    display: table-cell;
    vertical-align:top;
}

.divTableHeading {
    display: table-header-group;
}

.divTableFoot {
    display: table-footer-group;
}

.divTableBody {
    display: table-row-group;
}

.footerDiv{
    width:100%;
    background: #ff6a00;
}