@model InfoBoxVM


<div id="infoBoxpic">
    <img src="@Model.Image" />
</div>

<div id="infoBox1">
  
    @Model.Description
    <br />
    <h3>Konsultförmågor:</h3>
    <ul>
        @foreach (var item in Model.Skills)
        {
            <li>@item</li>
        }
    </ul>
    <br />
    <h3>Mobbningsstatus</h3>
    @if (Model.BullyStatus == true)
    {<p>Mobbare</p>}
    else
    {<p>Offer</p>}
</div>
