@model InfoBoxVM

<div id="infoBoxpic">
    <img src="@Model.Image" />
</div>

@*<div id="infoBoxSkills">
    <ul>

        @foreach (var item in Model.Skills)
        {
       
            @item.Skillset 
        
        }

    </ul>

</div>*@

<div id="infoBox1">
    <h1>NAME</h1>
    @Model.Description
</div>

